src/n8n/StormCopilot - MLOps Daily Orchestrator.json
{
  "name": "StormCopilot - MLOps Daily Orchestrator",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 1,
              "minute": 25
            }
          ]
        }
      },
      "id": "8af9b9cc-478b-4e5a-ab19-c4245636a01d",
      "name": "CRON - Daily 07:30",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -8928,
        -96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mlops-daily-full",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4b49acd8-ed6c-4dad-bd68-fbb069b585b2",
      "name": "Webhook mlops-daily-full",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8208,
        -1296
      ],
      "webhookId": "2176ddf8-acfc-4972-a6e0-8085f0926e31"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:8001/mlops/train/market",
        "options": {
          "timeout": 900000
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "quick",
              "value": "true"
            }
          ]
        }
      },
      "id": "91fcbcb9-e694-49c3-a40d-7c47e5f590e4",
      "name": "QuickTrain /mlops/train/market",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -6928,
        -1312
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:8001/mlops/metrics/daily",
        "options": {
          "timeout": 600000
        }
      },
      "id": "914e8f9d-fdb8-4178-90da-b2304c567de7",
      "name": "Metrics /mlops/metrics/daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -6720,
        -1312
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8001/mlops/champions",
        "options": {
          "timeout": 300000
        }
      },
      "id": "f8f669d8-b75d-492f-a9e3-c0d65ff8729a",
      "name": "Get /mlops/champions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -6432,
        -1312
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-full",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "73b59b9e-20ea-4b4e-ae48-47921471d0b9",
      "name": "Webhook Daily Full",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8368,
        -400
      ],
      "webhookId": "daily-full-itstorm-uuid"
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Prepare Params\nconst interval = $json.interval || \"1d\";\nconst period = $json.period || \"1y\";\n\nreturn [{\n  json: {\n    interval,\n    period,\n  }\n}];\n"
      },
      "id": "ced2350d-3bdb-4ce9-b61e-c449c743b56a",
      "name": "Prepare Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -8096,
        -128
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8001/tech/watch/latest",
        "options": {
          "timeout": 160000
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "limit",
              "value": "={{$json[\"tech_limit\"] || 36}}"
            }
          ]
        }
      },
      "id": "7ac1e2bb-cdad-4d59-aab7-bbf34b5eaffe",
      "name": "Fetch Tech Latest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -6976,
        -96
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const symbols = [\"^FCHI\",\"BNP.PA\",\"AIR.PA\",\"MC.PA\",\"OR.PA\",\"ORA.PA\"];\n\nreturn symbols.map(symbol => ({\n  json: {\n    symbol,\n    interval: $json.interval,\n    period: $json.period,\n  }\n}));\n"
      },
      "id": "df349285-2e69-4acc-8d10-d4d1208d48f9",
      "name": "Split Symbols",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -7408,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://host.docker.internal:8001/v1/ohlcv/' + $json[\"symbol\"] }}",
        "options": {
          "timeout": 120000
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "interval",
              "value": "={{$json[\"interval\"]}}"
            },
            {
              "name": "period",
              "value": "={{$json[\"period\"]}}"
            }
          ]
        }
      },
      "id": "9644da6e-1928-4287-af6b-17339c1e51c9",
      "name": "HTTP OHLCV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -6880,
        176
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "function clamp(x, a, b) { return Math.max(a, Math.min(b, x)); }\n\nfunction rsi14(closes) {\n  const n = 14;\n  if (!Array.isArray(closes) || closes.length < n + 1) return null;\n\n  let gains = 0, losses = 0;\n  const start = closes.length - (n + 1);\n\n  for (let i = start + 1; i < start + 1 + n; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff >= 0) gains += diff;\n    else losses += -diff;\n  }\n  gains /= n; losses /= n;\n\n  for (let i = start + 1 + n; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    const gain = diff > 0 ? diff : 0;\n    const loss = diff < 0 ? -diff : 0;\n    gains = (gains * (n - 1) + gain) / n;\n    losses = (losses * (n - 1) + loss) / n;\n  }\n\n  if (losses === 0) return 100;\n  const rs = gains / losses;\n  return 100 - (100 / (1 + rs));\n}\n\nfunction annualTrendPct(firstClose, lastClose) {\n  if (!Number.isFinite(firstClose) || !Number.isFinite(lastClose) || firstClose === 0) return null;\n  return ((lastClose / firstClose) - 1) * 100;\n}\n\nfunction vol20AnnualPct(closes) {\n  if (!Array.isArray(closes) || closes.length < 21) return null;\n\n  const tail = closes.slice(-21);\n  const rets = [];\n  for (let i = 1; i < tail.length; i++) {\n    const a = tail[i - 1], b = tail[i];\n    if (!Number.isFinite(a) || !Number.isFinite(b) || a <= 0 || b <= 0) continue;\n    rets.push(Math.log(b / a));\n  }\n  if (rets.length < 10) return null;\n\n  const mean = rets.reduce((s, x) => s + x, 0) / rets.length;\n  const varr = rets.reduce((s, x) => s + (x - mean) ** 2, 0) / (rets.length - 1);\n  const dailyStd = Math.sqrt(varr);\n  const annStd = dailyStd * Math.sqrt(252);\n  return annStd * 100;\n}\n\nfunction signalFrom(trendPct, rsi) {\n  if (!Number.isFinite(trendPct) || !Number.isFinite(rsi)) return \"NEUTRE\";\n  if (trendPct > 2 && rsi < 70) return \"ACHAT\";\n  if (trendPct < -2 && rsi > 30) return \"VENTE\";\n  return \"NEUTRE\";\n}\n\nfunction scoreFrom(trendPct, rsi, volPct) {\n  if (!Number.isFinite(trendPct) || !Number.isFinite(rsi) || !Number.isFinite(volPct)) return 0;\n  const t = clamp(trendPct / 10, -3, 3);\n  const r = clamp((50 - rsi) / 12.5, -2, 2) * -1;\n  const v = clamp((20 - volPct) / 20, -1, 1) * 0.8;\n  return clamp(t + r + v, -5, 5);\n}\n\nfunction lectureText(signal, trendPct, volPct) {\n  const t =\n    !Number.isFinite(trendPct) ? \"tendance inconnue\"\n    : trendPct > 3 ? \"tendance haussière\"\n    : trendPct < -3 ? \"tendance baissière\"\n    : \"tendance neutre\";\n\n  const v =\n    !Number.isFinite(volPct) ? \"volatilité inconnue\"\n    : volPct < 15 ? \"volatilité calme\"\n    : volPct < 25 ? \"volatilité normale\"\n    : \"volatilité élevée\";\n\n  return `${signal} • ${t} • ${v}`;\n}\n\n// ---------------------------------------------\n\nconst rows = [];\nconst assets = [];\nlet achat = 0, vente = 0, neutre = 0;\n\nfor (const it of items) {\n  const j = it.json || {};\n  const symbol = j.symbol || \"UNKNOWN\";\n\n  if (j.error) {\n    assets.push({\n      symbol,\n      status: \"error\",\n      warning: j.error,\n      nb_candles: j.meta?.nb_candles ?? null,\n      source: j.meta?.source ?? null,\n      interval: j.meta?.interval ?? null,\n      period: j.meta?.period ?? null,\n    });\n    continue;\n  }\n\n  const lastClose = j.last_close;\n  const firstClose = j.first_close;\n  const closes60 = j.closes_60 || [];\n\n  const rsi = rsi14(closes60);\n  const trendPct = annualTrendPct(firstClose, lastClose);\n  const volPct = vol20AnnualPct(closes60);\n\n  const signal = signalFrom(trendPct, rsi);\n  const score = scoreFrom(trendPct, rsi, volPct);\n  const lecture = lectureText(signal, trendPct, volPct);\n\n  if (signal === \"ACHAT\") achat++;\n  else if (signal === \"VENTE\") vente++;\n  else neutre++;\n\n  rows.push({\n    symbol,\n    prix: Number.isFinite(lastClose) ? +lastClose.toFixed(6) : null,\n    signal,\n    score: +score.toFixed(6),\n    tendance_annuelle_pct: Number.isFinite(trendPct) ? +trendPct.toFixed(6) : null,\n    vol20_annuelle_pct: Number.isFinite(volPct) ? +volPct.toFixed(6) : null,\n    rsi14: Number.isFinite(rsi) ? +rsi.toFixed(6) : null,\n    lecture\n  });\n\n  assets.push({\n    symbol,\n    status: \"ok\",\n    nb_candles: j.meta?.nb_candles ?? null,\n    source: j.meta?.source ?? null,\n    interval: j.meta?.interval ?? null,\n    period: j.meta?.period ?? null,\n    warning: null\n  });\n}\n\nrows.sort((a, b) => (b.score ?? -999) - (a.score ?? -999));\n\nconst validTrend = rows.map(r => r.tendance_annuelle_pct).filter(Number.isFinite);\nconst validVol = rows.map(r => r.vol20_annuelle_pct).filter(Number.isFinite);\n\nconst avgTrend = validTrend.length ? validTrend.reduce((s,x)=>s+x,0)/validTrend.length : null;\nconst avgVol = validVol.length ? validVol.reduce((s,x)=>s+x,0)/validVol.length : null;\n\nconst summary = {\n  nb_assets: rows.length,\n  achat,\n  vente,\n  neutre,\n  tendance_moyenne_pct: Number.isFinite(avgTrend) ? +avgTrend.toFixed(1) : null,\n  volatilite_moyenne_pct: Number.isFinite(avgVol) ? +avgVol.toFixed(1) : null,\n  text: (() => {\n    const t = Number.isFinite(avgTrend) ? `${avgTrend.toFixed(1)} %` : \"N/A\";\n    const v = Number.isFinite(avgVol) ? `${avgVol.toFixed(1)} %` : \"N/A\";\n    return `Le marché apparaît équilibré, avec une tendance moyenne de ${t} par an et une volatilité moyenne autour de ${v}.`;\n  })(),\n  generated_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    market_ai_summary: summary,\n    market_ai_rows: rows,\n    market_radar_assets: assets\n  }\n}];\n"
      },
      "id": "6d2720d4-54ff-47a9-a161-4f518d411921",
      "name": "Build Market Radar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -6144,
        176
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// n8n Function node: \"Assemble Full Daily\" ✅\n// Version robuste + FIX TechRadar root + NORMALISATION MLOps\n\n// --- helpers ---\nfunction isObj(v) {\n  return v && typeof v === \"object\" && !Array.isArray(v);\n}\n\nfunction deepMerge(target, src) {\n  if (!isObj(src)) return target;\n\n  for (const [k, v] of Object.entries(src)) {\n    if (v === undefined || v === null) continue;\n\n    if (Array.isArray(v)) {\n      const cur = target[k];\n      if (!Array.isArray(cur) || v.length >= cur.length) target[k] = v;\n      continue;\n    }\n\n    if (isObj(v)) {\n      if (!isObj(target[k])) target[k] = {};\n      deepMerge(target[k], v);\n      continue;\n    }\n\n    target[k] = v;\n  }\n  return target;\n}\n\nfunction pickFirst(obj, keys, fallback = null) {\n  for (const k of keys) {\n    if (obj && obj[k] !== undefined && obj[k] !== null) return obj[k];\n  }\n  return fallback;\n}\n\nfunction normalize(out) {\n  // --- TECH ---\n  out.tech_radar = pickFirst(out, [\"tech_radar\", \"techRadar\", \"tech\"], null);\n\n  // --- MARKET ---\n  out.market_ai_summary = pickFirst(out, [\"market_ai_summary\", \"market_summary\"], null);\n  out.market_ai_rows = pickFirst(out, [\"market_ai_rows\", \"market_rows_table\"], []);\n  out.market_radar_assets = pickFirst(out, [\"market_radar_assets\", \"market_assets\", \"assets\"], []);\n\n  out.market_rows_md = pickFirst(\n    out,\n    [\"market_rows_md\", \"marketRowsMd\", \"market_rows_markdown\"],\n    out.market_rows_md\n  );\n\n  // --- MLOps ---\n  out.mlops_summary = pickFirst(out, [\"mlops_summary\"], null);\n  out.mlops_kpis = pickFirst(out, [\"mlops_kpis\"], null);\n  out.mlops_decision = pickFirst(out, [\"mlops_decision\"], null);\n  out.mlops_champions_rows = pickFirst(\n    out,\n    [\"mlops_champions_rows\", \"champions\", \"mlops_champions\"],\n    []\n  );\n\n  // --- FIX Tech Radar root ---\n  const looksLikeTechRadarRoot =\n    out.tech_radar === null &&\n    out.type === \"tech_radar\" &&\n    isObj(out.metrics);\n\n  if (looksLikeTechRadarRoot) {\n    out.tech_radar = {\n      type: out.type,\n      status: out.status,\n      quality: out.quality,\n      headline: out.headline,\n      fetched_at: out.fetched_at,\n      metrics: out.metrics,\n      _raw: out._raw,\n    };\n\n    delete out.type;\n    delete out.status;\n    delete out.quality;\n    delete out.headline;\n    delete out.fetched_at;\n    delete out.metrics;\n    delete out._raw;\n    delete out.join_key;\n  }\n\n  // --- Standard ---\n  out.workflow = out.workflow || \"StormCopilot Daily Full\";\n  out.generated_at = out.generated_at || new Date().toISOString();\n\n  // --- Sécu types ---\n  if (!Array.isArray(out.market_ai_rows)) out.market_ai_rows = [];\n  if (!Array.isArray(out.market_radar_assets)) out.market_radar_assets = [];\n  if (!Array.isArray(out.mlops_champions_rows)) out.mlops_champions_rows = [];\n\n  return out;\n}\n\n// --- FUSION ---\nlet merged = {};\nfor (const it of items) {\n  if (it?.json) deepMerge(merged, it.json);\n}\n\nconst out = normalize(merged);\nreturn [{ json: out }];\n"
      },
      "id": "94d57092-df5d-4d4d-b7cb-59270d715a7e",
      "name": "Assemble Full Daily",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4368,
        -304
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://host.docker.internal:8001/tech/watch/refresh",
        "options": {
          "timeout": 180000
        }
      },
      "id": "b3fc3d89-fd69-488a-8026-ee418c3cd47a",
      "name": "Refresh Tech Watch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -7424,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "join_key",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5600,
        -96
      ],
      "id": "b6c2ce84-f72b-47c7-bf77-abf4da33b1bd",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: \"Format MLOps Champions\" ✅ ultra-robuste + nettoyage\n\nconst data = items[0]?.json || {};\n\n// 1) Partir de raw_champions si déjà rempli\nlet raw = (data.raw_champions && typeof data.raw_champions === \"object\")\n  ? data.raw_champions\n  : {};\n\n// 2) Si vide, reconstruire depuis les clés racines (^FCHI, BNP.PA, etc.)\nif (Object.keys(raw).length === 0) {\n  raw = {};\n  for (const [k, v] of Object.entries(data)) {\n    if (!v || typeof v !== \"object\" || Array.isArray(v)) continue;\n    if (typeof v.run_id === \"string\" && v.metrics && typeof v.metrics === \"object\" && (\"score\" in v)) {\n      raw[k] = v;\n    }\n  }\n}\n\n// 3) Construire la table\nconst entries = Object.entries(raw);\nentries.sort(([, a], [, b]) => (b?.score ?? -999) - (a?.score ?? -999));\n\nconst fmt = (x, digits = 3) => {\n  const n = Number(x);\n  return Number.isFinite(n) ? n.toFixed(digits) : \"-\";\n};\n\nlet md = \"\";\nmd += `## 🧠 StormCopilot – MLOps Champions\\n\\n`;\nmd += `Nombre d’actifs analysés : **${entries.length}**\\n\\n`;\nmd += `| Symbole | Score | Silhouette | AE Recons. | run_id |\\n`;\nmd += `|---------|------:|----------:|----------:|--------|\\n`;\n\nfor (const [symbol, payload] of entries) {\n  const m = payload?.metrics || {};\n  md += `| ${symbol} | ${fmt(payload?.score)} | ${fmt(m.silhouette)} | ${fmt(m.ae_reconstruction)} | ${payload?.run_id || \"\"} |\\n`;\n}\n\nmd += `\\n> Le score combine la qualité du clustering (silhouette) et l’erreur de reconstruction de l’autoencodeur.\\n`;\n\n// 4) Nettoyage: supprimer les champions au niveau racine (pour une réponse plus propre)\nconst clean = { ...data };\nfor (const sym of Object.keys(raw)) delete clean[sym];\n\n// 5) Output final\nreturn [{\n  json: {\n    ...clean,\n    raw_champions: raw,\n    summary_text: md,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5472,
        -1312
      ],
      "id": "1724d01f-1250-4383-af6f-3316c1ecd2e9",
      "name": "Format MLOps Champions"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: \"Format Daily Summary\" ✅\n// Version complète avec Tech Digest + MLOps + fixes safe\n\nconst d = items[0]?.json || {};\nconst generatedAt = d.generated_at || new Date().toISOString();\n\nfunction f3(x) {\n  const v = Number(x);\n  return Number.isFinite(v) ? v.toFixed(3) : \"—\";\n}\n\n// ---------------- TECH RADAR ----------------\nconst tech = d.tech_radar || {};\nconst techMetrics = tech.metrics || {};\nconst techQuality = tech.quality || (tech.status === \"ok\" ? \"✅ Complet\" : \"⚠️ Incomplet\");\nconst techHeadline = tech.headline || \"\";\nconst techFetched = tech.fetched_at || \"\";\nconst techDigestMd = tech.tech_digest_md || \"\";\n\nconst sourcesOk = techMetrics.sources_ok ?? techMetrics.nb_ok ?? 0;\nconst sourcesTotal = techMetrics.sources_total ?? 0;\nconst hot = techMetrics.hot ?? 0;\nconst trending = techMetrics.trending ?? 0;\nconst fresh = techMetrics.fresh ?? 0;\n\n// ---------------- MARKET ----------------\nconst msum = d.market_ai_summary || {};\nconst marketRowsArr = Array.isArray(d.market_ai_rows) ? d.market_ai_rows : [];\n\nconst nbAssets = msum.nb_assets ?? marketRowsArr.length;\nconst achat = msum.achat ?? 0;\nconst vente = msum.vente ?? 0;\nconst neutre = msum.neutre ?? 0;\nconst trend = msum.tendance_moyenne_pct ?? null;\nconst vol = msum.volatilite_moyenne_pct ?? null;\nconst synth = msum.text || \"\";\n\nconst interval = d.market_radar_assets?.[0]?.interval || \"\";\nconst period = d.market_radar_assets?.[0]?.period || \"\";\n\nconst marketRowsMd = d.market_rows_md || \"_Aucune ligne IA._\";\n\n// Assets table\nlet assetsMd = \"\";\nif (d.market_radar_assets?.length) {\n  assetsMd += `| Symbole | Nb. bougies | Source | Intervalle | Période |\\n`;\n  assetsMd += `|---|---:|---|---|---|\\n`;\n  for (const a of d.market_radar_assets) {\n    assetsMd += `| ${a.symbol} | ${a.nb_candles} | ${a.source} | ${a.interval} | ${a.period} |\\n`;\n  }\n} else {\n  assetsMd = \"_Aucun asset._\";\n}\n\n// ---------------- MLOps ----------------\nconst mk = d.mlops_kpis || {};\nconst mdc = d.mlops_decision || {};\nconst champs = Array.isArray(d.mlops_champions_rows) ? d.mlops_champions_rows : [];\n\nlet mlopsTable = \"_Aucun champion MLOps._\";\nif (champs.length) {\n  mlopsTable = `| Symbole | Silhouette | AE recon | Score | run_id |\\n`;\n  mlopsTable += `|---|---:|---:|---:|---|\\n`;\n  for (const c of champs) {\n    mlopsTable += `| ${c.symbol} | ${f3(c.silhouette)} | ${f3(c.ae_reconstruction)} | ${f3(c.score)} | ${c.run_id} |\\n`;\n  }\n}\n\n// ---------------- MARKDOWN FINAL ----------------\nconst md =\n`# 📊 StormCopilot – Rapport quotidien\n\nGénéré automatiquement par **StormCopilot** (n8n + FastAPI).\n\n## 📡 Tech Radar – Veille technologique\n${techHeadline ? `> ${techHeadline}\\n` : \"\"}\n\n| Indicateur | Valeur |\n|---|---|\n| Qualité globale | ${techQuality} |\n| Sources actives | ${sourcesOk} / ${sourcesTotal} |\n| Hot | ${hot} |\n| Trending | ${trending} |\n| Fresh | ${fresh} |\n\n${techDigestMd ? `\\n${techDigestMd}\\n` : \"\"}\n\n${techFetched ? `Dernière collecte : ${techFetched}\\n` : \"\"}\n## 📈 Market Radar – Analyse des actifs (IA)\n\n| Indicateur | Valeur |\n|---|---|\n| Actifs analysés | ${nbAssets} |\n| ACHAT | ${achat} |\n| VENTE | ${vente} |\n| NEUTRE | ${neutre} |\n| Tendance moyenne | ${trend !== null ? `${trend}%` : \"\"} |\n| Volatilité moyenne | ${vol !== null ? `${vol}%` : \"\"} |\n| Intervalle | ${interval} |\n| Période | ${period} |\n\n${synth ? `> ${synth}\\n` : \"\"}\n\n### Détail IA par symbole\n${marketRowsMd}\n\n### Données marché\n${assetsMd}\n\n## 🧠 MLOps – Monitoring & décision\n\n| Indicateur | Valeur |\n|---|---|\n| Pipeline | ${mk.pipeline_status || \"—\"} |\n| Champions | ${mk.nb_champions ?? \"—\"} |\n| Drift moyen | ${mdc.drift_avg !== undefined && mdc.drift_avg !== null ? f3(mdc.drift_avg) : \"—\"} |\n| Drift max | ${mdc.drift_max !== undefined && mdc.drift_max !== null ? f3(mdc.drift_max) : \"—\"} |\n| Retrain recommandé | ${mdc.retrain_recommended ? \"OUI\" : \"NON\"} |\n\n### Champions MLOps\n${mlopsTable}\n\n---\n\nDernière exécution : ${generatedAt}\n`;\n\nreturn [{ json: { ...d, summary_text: md } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4176,
        -304
      ],
      "id": "9d694d0d-0dca-443a-9e83-339ce1f205bd",
      "name": "Format Daily Summary"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: \"Build Market Rows\"\n\nconst data = items[0]?.json || {};\nconst rows = Array.isArray(data.market_ai_rows) ? data.market_ai_rows : [];\n\nfunction n(x, d = 0) {\n  const v = Number(x);\n  return Number.isFinite(v) ? v : d;\n}\nfunction f(x, digits = 2) {\n  return n(x).toFixed(digits);\n}\n\nconst tableRows = rows.map(r => ({\n  symbol: String(r.symbol || \"\"),\n  prix: n(r.prix),\n  signal: String(r.signal || \"\"),\n  score: n(r.score),\n  tendance_annuelle_pct: n(r.tendance_annuelle_pct),\n  vol20_annuelle_pct: n(r.vol20_annuelle_pct),\n  rsi14: n(r.rsi14),\n  lecture: String(r.lecture || \"\")\n}));\n\n// Markdown table\nlet md = \"\";\nif (tableRows.length > 0) {\n  md += `| Symbole | Prix | Signal | Score | Tendance % | Vol20 % | RSI14 | Lecture |\\n`;\n  md += `|---|---:|---|---:|---:|---:|---:|---|\\n`;\n  for (const r of tableRows) {\n    md += `| ${r.symbol} | ${f(r.prix, 3)} | ${r.signal} | ${f(r.score, 2)} | ${f(r.tendance_annuelle_pct, 1)} | ${f(r.vol20_annuelle_pct, 1)} | ${f(r.rsi14, 1)} | ${r.lecture} |\\n`;\n  }\n} else {\n  md = \"_Aucune ligne IA (market_ai_rows vide)._\";\n}\n\nreturn [{\n  json: {\n    ...data,\n    market_rows_table: tableRows,\n    market_rows_md: md\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4544,
        -304
      ],
      "id": "ddac622a-e1b2-4f77-a1e2-e306684b53d2",
      "name": "Build Market Rows"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: \"Build Human Text Daily\" ✅ (updated with MLOps)\n\nconst d = items[0]?.json || {};\n\nfunction cleanHumanText(s) {\n  if (!s) return s;\n\n  // supprime les lignes PowerShell / curl\n  s = s.replace(/^.*\\bcurl\\.exe\\b.*$/gmi, \"\");\n  s = s.replace(/^.*\\(\\.venv\\)\\s+PS\\s+.*$/gmi, \"\");\n\n  // compact espaces\n  s = s.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n  return s;\n}\n\nconst gen = d.generated_at || new Date().toISOString();\n\n// ---------------- TECH ----------------\nconst tech = d.tech_radar || {};\nconst met = tech.metrics || {};\nconst quality = tech.quality || (tech.status === \"ok\" ? \"✅ Complet\" : \"⚠️ Incomplet\");\nconst headline = tech.headline || \"\";\nconst srcOk = met.sources_ok ?? met.nb_ok ?? 0;\nconst srcTotal = met.sources_total ?? 0;\nconst hot = met.hot ?? 0;\nconst trending = met.trending ?? 0;\nconst fresh = met.fresh ?? 0;\nconst fetched = tech.fetched_at || \"\";\n\n// ---------------- MARKET ----------------\nconst m = d.market_ai_summary || {};\nconst rows = Array.isArray(d.market_ai_rows) ? d.market_ai_rows : [];\n\nconst nb = m.nb_assets ?? rows.length ?? 0;\nconst achat = m.achat ?? 0;\nconst vente = m.vente ?? 0;\nconst neutre = m.neutre ?? 0;\nconst trend = m.tendance_moyenne_pct ?? null;\nconst vol = m.volatilite_moyenne_pct ?? null;\nconst synth = m.text || \"\";\n\n// ---------------- MLOPS ----------------\nconst mk = d.mlops_kpis || {};\nconst md = d.mlops_decision || {};\nconst champs = Array.isArray(d.mlops_champions_rows) ? d.mlops_champions_rows : [];\n\nconst pipeline = mk.pipeline_status || \"—\";\nconst nbChampions = mk.nb_champions ?? champs.length ?? \"—\";\nconst driftAvg = md.drift_avg ?? mk.drift_avg ?? null;\nconst driftMax = md.drift_max ?? mk.drift_max ?? null;\nconst retrain = (md.retrain_recommended ?? mk.retrain_recommended) ? \"🔴 OUI\" : \"🟢 NON\";\nconst decisionExplain = md.explanation || md.decision_explanation || \"\";\n\n// ---------------- TEXT ----------------\nlet txt = `=== StormCopilot — Daily Full (Résumé lisible) ===\nGénéré: ${gen}\n\n📡 TECH RADAR\n- Qualité: ${quality}\n${headline ? `- Headline: ${headline}\\n` : \"\"}- Sources: ${srcOk}/${srcTotal} | Hot: ${hot} | Trending: ${trending} | Fresh: ${fresh}\n${fetched ? `- Fetched: ${fetched}\\n` : \"\"}\n\n📈 MARKET (IA)\n- Actifs: ${nb}\n- Signaux: ACHAT ${achat} | VENTE ${vente} | NEUTRE ${neutre}\n- Moyennes: tendance ${trend !== null ? trend + \"%\" : \"\"} | volatilité ${vol !== null ? vol + \"%\" : \"\"}\n${synth ? `- Synthèse: ${synth}\\n` : \"\"}\n\nDétail par symbole:\n`;\n\nif (!rows.length) {\n  txt += \"- (Aucun détail IA)\\n\";\n} else {\n  for (const r of rows) {\n    txt += `- ${r.symbol}: ${r.signal} | score ${Number(r.score ?? 0).toFixed(2)} | prix ${Number(r.prix ?? 0).toFixed(3)} | RSI ${Number(r.rsi14 ?? 0).toFixed(1)} | trend ${Number(r.tendance_annuelle_pct ?? 0).toFixed(1)}% | vol20 ${Number(r.vol20_annuelle_pct ?? 0).toFixed(1)}% | ${r.lecture || \"\"}\\n`;\n  }\n}\n\n// ---- MLOps section appended ----\ntxt += `\n\n🧠 MLOps (Daily)\n- Pipeline: ${pipeline}\n- Champions: ${nbChampions}\n- Drift avg: ${driftAvg !== null ? Number(driftAvg).toFixed(3) : \"—\"} | Drift max: ${driftMax !== null ? Number(driftMax).toFixed(3) : \"—\"}\n- Retrain: ${retrain}\n${decisionExplain ? `- Décision: ${decisionExplain}\\n` : \"\"}\n\nTop champions:\n`;\n\nif (!champs.length) {\n  txt += \"- (Aucun champion)\\n\";\n} else {\n  for (const c of champs.slice(0, 6)) {\n    txt += `- ${c.symbol}: score ${Number(c.score ?? 0).toFixed(3)} | sil ${Number(c.silhouette ?? 0).toFixed(3)} | ae ${Number(c.ae_reconstruction ?? 0).toFixed(3)} | run_id ${c.run_id || \"\"}\\n`;\n  }\n}\n\ntxt += `\\n✅ Fin du résumé.\\n`;\n\ntxt = cleanHumanText(txt);\n\nreturn [{ json: { ...d, human_text: txt } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3952,
        -304
      ],
      "id": "021c1c54-6259-4c05-9345-5eb8cdd07278",
      "name": "Build Human Text Daily"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/pdf/daily-report",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary_text",
              "value": "={{ $json[\"summary_text\"] }}"
            },
            {
              "name": "human_text",
              "value": "={{ $json[\"human_text\"] }}"
            },
            {
              "name": "generated_at",
              "value": "={{ $json[\"generated_at\"] }}"
            },
            {
              "name": "market_ai_summary",
              "value": "={{ $json[\"market_ai_summary\"] }}"
            },
            {
              "name": "market_ai_rows",
              "value": "={{ $json[\"market_ai_rows\"]}}"
            },
            {
              "name": "tech_radar",
              "value": "={{ $json.tech_radar }}"
            },
            {
              "name": "market_rows_md",
              "value": "={{ $json.market_rows_md }}"
            },
            {
              "name": "market_rows_table",
              "value": "={{ $json.market_rows_table }}"
            },
            {
              "name": "tech_trending",
              "value": "={{ $json.tech_radar.metrics.trending }}"
            },
            {
              "name": "tech_fresh",
              "value": "={{ $json.tech_radar.metrics.fresh }}"
            },
            {
              "name": "tech_hot",
              "value": "={{ $json.tech_radar.metrics.hot }}"
            },
            {
              "name": "tech_sources_total",
              "value": "={{ $json.tech_radar.metrics.sources_total }}"
            },
            {
              "name": "tech_sources_ok",
              "value": "={{ $json.tech_radar.metrics.sources_ok }}"
            },
            {
              "name": "mlops_summary",
              "value": "={{ $json.mlops_summary }}"
            },
            {
              "name": "mlops_kpis",
              "value": "={{ $json.mlops_kpis}}"
            },
            {
              "name": "mlops_champions_rows",
              "value": "={{ $json.mlops_champions_rows}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3456,
        16
      ],
      "id": "d365c322-609f-442a-83f2-a83d6ede0bb1",
      "name": "Generate Daily PDF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6336,
        176
      ],
      "id": "9b0abb08-60ec-4100-99ec-329103f2359a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: Compress OHLCV → Features (multi-items safe)\n// Input: each item = { symbol, interval, period, bars: [...] } or similar\n// Output: 1 item per symbol with minimal closes_60\n\nfunction pickClose(c) {\n  if (!c) return null;\n  if (typeof c.close === 'number') return c.close;\n  if (typeof c.c === 'number') return c.c;\n  if (typeof c.adjClose === 'number') return c.adjClose;\n  if (typeof c.adj_close === 'number') return c.adj_close;\n  return null;\n}\n\nfunction findBars(j) {\n  return (\n    j.bars ||\n    j.candles ||\n    j.data ||\n    j.ohlcv ||\n    j.prices ||\n    []\n  );\n}\n\nreturn items.map((it) => {\n  const j = it.json || {};\n  const symbol = j.symbol || j.ticker || j.sym || j.asset || 'UNKNOWN';\n\n  const bars = findBars(j);\n  const nbBars = Array.isArray(bars) ? bars.length : (j.nb_candles ?? null);\n\n  if (!Array.isArray(bars) || bars.length < 20) {\n    return {\n      json: {\n        symbol,\n        error: `Not enough bars (got ${Array.isArray(bars) ? bars.length : 'N/A'})`,\n        meta: {\n          nb_candles: nbBars,\n          interval: j.interval ?? null,\n          period: j.period ?? null,\n          source: j.source ?? null,\n        }\n      }\n    };\n  }\n\n  const closesAll = bars\n    .map(pickClose)\n    .filter(v => typeof v === 'number' && Number.isFinite(v));\n\n  if (closesAll.length < 20) {\n    return {\n      json: {\n        symbol,\n        error: `Not enough valid closes (got ${closesAll.length})`,\n        meta: {\n          nb_candles: nbBars,\n          interval: j.interval ?? null,\n          period: j.period ?? null,\n          source: j.source ?? null,\n        }\n      }\n    };\n  }\n\n  const N = 60;\n  const closes_60 = closesAll.slice(-N);\n  const lastClose = closesAll[closesAll.length - 1];\n  const firstClose = closesAll[0];\n\n  return {\n    json: {\n      symbol,\n      last_close: lastClose,\n      first_close: firstClose,\n      closes_60,\n      meta: {\n        nb_candles: nbBars ?? bars.length,\n        interval: j.interval ?? null,\n        period: j.period ?? null,\n        source: j.source ?? null,\n        generated_at: new Date().toISOString(),\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6576,
        176
      ],
      "id": "d2d1f280-30a5-4a7b-adf4-3917bf71ef16",
      "name": "compress OHCLV1"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Tech Metrics (fix: handle {status,count,items} from /tech/watch/latest)\n// Mode: Run Once for All Items\n\nfunction pick(obj, paths, fallback = undefined) {\n  for (const p of paths) {\n    const v = p.split(\".\").reduce((a, k) => (a && a[k] !== undefined ? a[k] : undefined), obj);\n    if (v !== undefined && v !== null) return v;\n  }\n  return fallback;\n}\n\nconst in0 = items[0]?.json || {};\n\n// Si l'input est déjà enveloppé (rare)\nconst raw = in0._raw ? in0._raw : (in0.type === \"tech_radar\" ? in0 : in0);\n\n// Cas standard backend: { status, count, items: [...] }\nconst list = Array.isArray(raw.items) ? raw.items : (Array.isArray(raw.data?.items) ? raw.data.items : []);\nconst sources_total = Number(pick(raw, [\"count\", \"metrics.sources_total\", \"metrics.nb_ok\"], list.length)) || list.length;\n\n// sources_ok : si backend ne fournit pas nb_ok, on considère ok = total si status ok\nlet sources_ok = Number(pick(raw, [\"nb_ok\", \"metrics.sources_ok\", \"metrics.nb_ok\"], NaN));\nif (!Number.isFinite(sources_ok)) sources_ok = (raw.status === \"ok\" ? sources_total : 0);\n\n// Compute Hot/Trending/Fresh depuis rank_label\nconst hot = list.filter(x => String(x.rank_label || \"\").includes(\"Hot\")).length;\nconst trending = list.filter(x => String(x.rank_label || \"\").includes(\"Trending\")).length;\nconst fresh = list.filter(x => String(x.rank_label || \"\").includes(\"Fresh\")).length;\n\n// Headline : si pas fourni, on le fabrique depuis le top item\nlet headline = pick(raw, [\"headline\", \"title\"], \"\");\nif (!headline || headline.trim().length < 3) {\n  const top = list[0];\n  if (top) {\n    const src = top.source_name || \"Source\";\n    const txt = (top.short_summary || top.tw_summary_2_sent || top.summary || \"\").replace(/\\s+/g, \" \").trim();\n    headline = txt ? `${src} : ${txt.slice(0, 120)}${txt.length > 120 ? \"…\" : \"\"}` : (top.url || \"Aucun titre disponible\");\n  } else {\n    headline = \"Aucun titre disponible\";\n  }\n}\n\nconst quality = (sources_total > 0 && sources_ok === sources_total) ? \"✅ Complet\" : \"🟡 Partiel\";\nconst fetched_at = pick(raw, [\"fetched_at\", \"generated_at\"], new Date().toISOString());\n\nreturn [{\n  json: {\n    type: \"tech_radar\",\n    status: raw.status || \"ok\",\n    quality,\n    headline,\n    fetched_at,\n    metrics: { sources_ok, sources_total, hot, trending, fresh },\n    _raw: { ...raw, items: list }, // debug + garantit items\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6624,
        -112
      ],
      "id": "b406d353-152d-42c5-9ef5-7d732bcb6b37",
      "name": "Normalize Tech Metrics"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node — Add join_key (Tech)\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    join_key: \"daily\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5808,
        -112
      ],
      "id": "299ed0bf-156c-4fd0-a17f-6efda15ebbd0",
      "name": "set tech"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node — Add join_key (Market)\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    join_key: \"daily\"\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5936,
        176
      ],
      "id": "f1cf14bd-a491-4b56-8e03-5fff27db81a4",
      "name": "set market"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: \"MLOps Executive Pack\"\n// Produit :\n// - mlops_kpis (KPI exécutifs)\n// - mlops_decision (drift + retrain decision)\n// - mlops_visual_md (Champion vs Challenger visuel + KPIs)\n\n// ---------- helpers ----------\nconst isObj = (v) => v && typeof v === \"object\" && !Array.isArray(v);\n\nfunction deepMerge(target, src) {\n  if (!isObj(src)) return target;\n  for (const [k, v] of Object.entries(src)) {\n    if (v === undefined || v === null) continue;\n\n    if (Array.isArray(v)) {\n      const cur = target[k];\n      if (!Array.isArray(cur) || v.length >= cur.length) target[k] = v;\n      continue;\n    }\n    if (isObj(v)) {\n      if (!isObj(target[k])) target[k] = {};\n      deepMerge(target[k], v);\n      continue;\n    }\n    target[k] = v;\n  }\n  return target;\n}\n\nconst n = (x, d = null) => {\n  const v = Number(x);\n  return Number.isFinite(v) ? v : d;\n};\n\nconst fmt = (x, digits = 3) => {\n  const v = n(x, null);\n  return v === null ? \"-\" : v.toFixed(digits);\n};\n\nconst nowIso = () => new Date().toISOString();\n\nfunction tryGetFromNode(name) {\n  // Compat n8n : certains environnements supportent $('Node').first()\n  try { return $(name).first().json; } catch (e) {}\n  return null;\n}\n\n// ---------- collect inputs ----------\nlet merged = {};\nfor (const it of items) if (it?.json) deepMerge(merged, it.json);\n\n// On tente aussi d’aller chercher directement depuis les nodes, si possible.\nconst trainRaw = tryGetFromNode(\"QuickTrain /mlops/train/market\") || merged;\nconst metricsRaw = tryGetFromNode(\"Metrics /mlops/metrics/daily\") || merged;\nconst champsRaw = tryGetFromNode(\"Get /mlops/champions\") || merged;\n\n// Shapes attendues :\nconst train = trainRaw?.results ? trainRaw : (trainRaw?.data?.results ? trainRaw.data : trainRaw);\nconst champions = champsRaw && !champsRaw.results ? champsRaw : (champsRaw?.data ? champsRaw.data : champsRaw);\nconst daily = metricsRaw?.metrics ? metricsRaw : (metricsRaw?.data?.metrics ? metricsRaw.data : metricsRaw);\n\n// ---------- build challenger rows from training output ----------\nconst challengerRows = [];\nconst trainResults = train?.results && typeof train.results === \"object\" ? train.results : {};\nfor (const [symbol, m] of Object.entries(trainResults)) {\n  // On estime un \"score challenger\" avec le même principe que registry : silhouette - ae_reconstruction\n  // (registry: score = silhouette + ae_reconstruction * -1) :contentReference[oaicite:4]{index=4}\n  const sil = n(m?.silhouette, null);\n  const ae = n(m?.ae_reconstruction, null);\n  const score = (sil !== null && ae !== null) ? (sil - ae) : null;\n\n  challengerRows.push({\n    symbol,\n    challenger_run_id: train?.run_id || train?.runId || \"\",\n    challenger_score: score,\n    challenger_silhouette: sil,\n    challenger_ae: ae,\n  });\n}\n\n// ---------- build champion rows from registry ----------\nconst champEntries = Object.entries(champions || {}).filter(([, v]) => isObj(v));\nconst championRows = champEntries.map(([symbol, payload]) => {\n  const mm = payload.metrics || {};\n  return {\n    symbol,\n    champion_run_id: payload.run_id || \"\",\n    champion_score: n(payload.score, null),\n    champion_silhouette: n(mm.silhouette, null),\n    champion_ae: n(mm.ae_reconstruction, null),\n  };\n});\n\n// Index champions by symbol\nconst champBySym = Object.fromEntries(championRows.map(r => [r.symbol, r]));\n\n// ---------- Champion vs Challenger verdict ----------\nconst compareRows = [];\nlet replacedCount = 0;\n\nfor (const ch of challengerRows) {\n  const sym = ch.symbol;\n  const cp = champBySym[sym] || null;\n\n  const cRun = String(ch.challenger_run_id || \"\");\n  const pRun = String(cp?.champion_run_id || \"\");\n\n  // Heuristique simple : si run_id différent → probablement pas le même modèle en registry\n  // (dans ton backend, train met à jour la registry après l’expérience) :contentReference[oaicite:5]{index=5}\n  const changed = (cRun && pRun && cRun !== pRun);\n  if (changed) replacedCount++;\n\n  const delta = (cp && ch.challenger_score !== null && cp.champion_score !== null)\n    ? (ch.challenger_score - cp.champion_score)\n    : null;\n\n  // Verdict “visuel”\n  let verdict = \"⚪ Inconnu\";\n  if (delta !== null) {\n    verdict = delta > 0.01 ? \"🟢 Challenger ↑\" : (delta < -0.01 ? \"🔴 Challenger ↓\" : \"⚪ Stable\");\n  } else if (changed) {\n    verdict = \"🟠 Changement run_id\";\n  }\n\n  compareRows.push({\n    symbol: sym,\n    verdict,\n    champion_score: cp?.champion_score ?? null,\n    challenger_score: ch.challenger_score ?? null,\n    delta_score: delta,\n    champion_run_id: pRun || \"-\",\n    challenger_run_id: cRun || \"-\",\n    silhouette: ch.challenger_silhouette ?? cp?.champion_silhouette ?? null,\n    ae: ch.challenger_ae ?? cp?.champion_ae ?? null,\n  });\n}\n\n// Tri par delta ou challenger score\ncompareRows.sort((a, b) => {\n  const da = n(a.delta_score, -999);\n  const db = n(b.delta_score, -999);\n  if (db !== da) return db - da;\n  return n(b.challenger_score, -999) - n(a.challenger_score, -999);\n});\n\n// ---------- Drift & Retrain decision ----------\nconst dailyMetrics = Array.isArray(daily?.metrics) ? daily.metrics : [];\nconst driftVals = dailyMetrics.map(r => n(r.drift_score, null)).filter(v => v !== null);\n\nconst driftAvg = driftVals.length ? driftVals.reduce((s, x) => s + x, 0) / driftVals.length : null;\nconst driftMax = driftVals.length ? Math.max(...driftVals) : null;\n\nconst TH_AVG = 0.25;   // seuil drift moyen (ajuste si tu veux)\nconst TH_MAX = 0.50;   // seuil drift max\nconst TH_BAD = 0.40;   // drift “fort” par symbole\n\nconst nbBad = dailyMetrics.filter(r => n(r.drift_score, 0) >= TH_BAD).length;\nconst retrainRecommended = (driftAvg !== null && driftAvg >= TH_AVG) || (driftMax !== null && driftMax >= TH_MAX);\n\nconst decision = {\n  type: \"retrain_decision\",\n  retrain_recommended: !!retrainRecommended,\n  drift_avg: driftAvg,\n  drift_max: driftMax,\n  nb_symbols: dailyMetrics.length,\n  nb_drift_high: nbBad,\n  rules: {\n    drift_avg_threshold: TH_AVG,\n    drift_max_threshold: TH_MAX,\n    drift_high_per_symbol: TH_BAD,\n  },\n  explanation: retrainRecommended\n    ? `Retrain recommandé : drift moyen (${fmt(driftAvg,3)}) ou drift max (${fmt(driftMax,3)}) au-dessus des seuils.`\n    : `Retrain non nécessaire : drift moyen (${fmt(driftAvg,3)}) et drift max (${fmt(driftMax,3)}) sous contrôle.`,\n  generated_at: nowIso(),\n};\n\n// ---------- KPI exécutifs ----------\nconst expected = challengerRows.length || 0;\nconst okSymbols = dailyMetrics.length;\n\nconst kpis = {\n  type: \"mlops_kpis\",\n  pipeline_status: (expected && okSymbols < expected) ? \"⚠ PARTIEL\" : \"✅ OK\",\n  nb_symbols_requested: expected,\n  nb_symbols_ok: okSymbols,\n  nb_champions: championRows.length,\n  champions_changed_runid: replacedCount,\n  drift_avg: driftAvg,\n  drift_max: driftMax,\n  retrain_recommended: !!retrainRecommended,\n  generated_at: nowIso(),\n};\n\n// ---------- Visual markdown (pour email / logs / PDF si besoin) ----------\nlet md = \"\";\nmd += `## 🧠 MLOps Daily – Executive\\n\\n`;\nmd += `**Pipeline**: ${kpis.pipeline_status}  ·  **Symbols**: ${kpis.nb_symbols_ok}/${kpis.nb_symbols_requested}  ·  **Retrain**: ${kpis.retrain_recommended ? \"🟠 OUI\" : \"🟢 NON\"}\\n\\n`;\nmd += `### KPI\\n`;\nmd += `- Drift moyen: **${fmt(kpis.drift_avg, 3)}** (seuil ${TH_AVG})\\n`;\nmd += `- Drift max: **${fmt(kpis.drift_max, 3)}** (seuil ${TH_MAX})\\n`;\nmd += `- Champions: **${kpis.nb_champions}**  ·  run_id changés: **${kpis.champions_changed_runid}**\\n\\n`;\n\nmd += `### Champion vs Challenger (visuel)\\n\\n`;\nmd += `| Symbole | Verdict | Δ score | Champion score | Challenger score | Silhouette | AE |\\n`;\nmd += `|---|---|---:|---:|---:|---:|---:|\\n`;\n\nfor (const r of compareRows.slice(0, 12)) {\n  md += `| ${r.symbol} | ${r.verdict} | ${fmt(r.delta_score, 3)} | ${fmt(r.champion_score, 3)} | ${fmt(r.challenger_score, 3)} | ${fmt(r.silhouette, 3)} | ${fmt(r.ae, 3)} |\\n`;\n}\n\nmd += `\\n> ${decision.explanation}\\n`;\n\nreturn [{\n  json: {\n    ...merged,\n    mlops_kpis: kpis,\n    mlops_decision: decision,\n    mlops_compare_rows: compareRows,\n    mlops_visual_md: md,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6128,
        -1312
      ],
      "id": "2d9944d4-83ef-44c6-92d6-465e11d15bef",
      "name": "MLOps Executive Pack"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: \"Build Summary\" (utilise mlops_kpis + decision + compare)\n\nconst d = items[0]?.json || {};\n\nconst k = d.mlops_kpis || {};\nconst dec = d.mlops_decision || {};\nconst rows = Array.isArray(d.mlops_compare_rows) ? d.mlops_compare_rows : [];\n\nconst fmt = (x, digits=3) => {\n  const n = Number(x);\n  return Number.isFinite(n) ? n.toFixed(digits) : \"-\";\n};\n\n// --- KPI cards (structuré) ---\nconst mlops_summary = {\n  type: \"mlops_executive\",\n  pipeline_status: k.pipeline_status || \"⚠ PARTIEL\",\n  nb_symbols_ok: k.nb_symbols_ok ?? null,\n  nb_symbols_requested: k.nb_symbols_requested ?? null,\n  nb_champions: k.nb_champions ?? null,\n  champions_changed_runid: k.champions_changed_runid ?? null,\n  drift_avg: k.drift_avg ?? null,\n  drift_max: k.drift_max ?? null,\n  retrain_recommended: !!k.retrain_recommended,\n  decision_explanation: dec.explanation || \"\",\n  generated_at: k.generated_at || new Date().toISOString(),\n};\n\n// --- Texte “exécutif” (pour email / pdf / logs) ---\nconst top = rows.slice(0, 5);\n\nlet human = \"\";\nhuman += `🧠 StormCopilot – MLOps Daily (Executive)\\n`;\nhuman += `Pipeline: ${mlops_summary.pipeline_status}\\n`;\nhuman += `Symbols: ${mlops_summary.nb_symbols_ok}/${mlops_summary.nb_symbols_requested}\\n`;\nhuman += `Drift avg: ${fmt(mlops_summary.drift_avg)} | Drift max: ${fmt(mlops_summary.drift_max)}\\n`;\nhuman += `Retrain: ${mlops_summary.retrain_recommended ? \"🟠 OUI\" : \"🟢 NON\"}\\n`;\nif (mlops_summary.decision_explanation) human += `${mlops_summary.decision_explanation}\\n`;\n\nif (top.length) {\n  human += `\\nChampion vs Challenger (Top 5):\\n`;\n  for (const r of top) {\n    human += `- ${r.symbol} | ${r.verdict} | Δ ${fmt(r.delta_score)} | ch ${fmt(r.champion_score)} → clg ${fmt(r.challenger_score)}\\n`;\n  }\n}\n\nreturn [{\n  json: {\n    ...d,\n    mlops_summary,     // ✅ clé clean à réutiliser partout\n    human_text: human, // ✅ texte propre, plus de JSON brut\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5760,
        -1312
      ],
      "id": "26b28086-4ce9-429b-8074-f7bbb8b81d3c",
      "name": "Build Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5678/webhook/mlops-daily-full",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7440,
        -304
      ],
      "id": "9f260584-4da0-4870-819b-637c7ae36f4b",
      "name": "Fetch MLOps Executive (mlops-daily-full)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: \"set mlops\"\n\nconst data = items[0]?.json || {};\nconst raw = data.raw_champions || {};\n\nconst rows = Object.entries(raw).map(([symbol, payload]) => {\n  const m = payload?.metrics || {};\n  return {\n    symbol,\n    silhouette: m.silhouette ?? null,\n    ae_reconstruction: m.ae_reconstruction ?? null,\n    score: payload?.score ?? null,\n    run_id: payload?.run_id ?? \"\",\n  };\n});\n\n// tri comme tableau (meilleur score en haut, ici score max = moins négatif)\nrows.sort((a, b) => Number(b.score ?? -999) - Number(a.score ?? -999));\n\nreturn [{\n  json: {\n    join_key: \"daily\",\n    mlops_summary: data.mlops_summary || {},\n    mlops_kpis: data.mlops_kpis || {},\n    mlops_decision: data.mlops_decision || {},\n    mlops_champions_rows: rows,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5840,
        -288
      ],
      "id": "524518f0-078c-4a50-ad43-ef2e8dcec89b",
      "name": "set mlops"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "join_key",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5200,
        -304
      ],
      "id": "18868156-b72a-4976-9755-fa2dee903881",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f5c4c3d-9409-4506-b338-ad549669eee6",
              "name": "to",
              "value": "alaalakhal611@gmail.com",
              "type": "string"
            },
            {
              "id": "0c874dcf-ad62-49c3-91f8-9e0c1e2584e1",
              "name": "subject",
              "value": "📊 StormCopilot – Rapport quotidien",
              "type": "string"
            },
            {
              "id": "6983a349-23d4-4aa5-9fef-19b4d7d5a591",
              "name": "text",
              "value": "Bonjour,  Veuillez trouver en pièce jointe le rapport quotidien StormCopilot.  Cordialement, StormCopilot",
              "type": "string"
            },
            {
              "id": "a874e96e-3058-42d6-9520-7678e2c66f97",
              "name": "filename",
              "value": "stormcopilot_daily_report.pdf",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3072,
        16
      ],
      "id": "96dad2e3-ddcf-4256-9943-35fb8011d2a3",
      "name": "prepare email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/pdf/daily-report",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3264,
        16
      ],
      "id": "0b48d2da-a368-42e2-82b1-4f5dfe9625d7",
      "name": "Email avec pièce jointe"
    },
    {
      "parameters": {
        "jsCode": "// Node: Detect Malveillance (GENERAL)\n// Output: ONE item only\n// - has_alert = true  => branche \"alert email\"\n// - has_alert = false => branche \"Respond to Webhook\"\n\nfunction n(x) {\n  const v = Number(x);\n  return Number.isFinite(v) ? v : null;\n}\n\nfunction pickFirstAlertLike(obj) {\n  // accepte plusieurs formats possibles\n  if (!obj) return null;\n  if (Array.isArray(obj.alerts) && obj.alerts.length) return obj.alerts[0];\n  if (Array.isArray(obj.anomalies) && obj.anomalies.length) return obj.anomalies[0];\n  if (obj.alert && typeof obj.alert === \"object\") return obj.alert;\n  return null;\n}\n\nfunction maxSeverity(a, b) {\n  const r = { INFO: 0, WARNING: 1, CRITICAL: 2 };\n  const A = (a || \"INFO\").toUpperCase();\n  const B = (b || \"INFO\").toUpperCase();\n  return (r[B] ?? 0) > (r[A] ?? 0) ? B : A;\n}\n\n// 1) agrège tous les items (important pour éviter double mail)\nlet best = null;\nlet severity = \"INFO\";\n\nfor (const it of items) {\n  const j = it.json || {};\n\n  // tu peux produire has_alert en amont, on le respecte\n  const upstreamHas = j.has_alert === true || j.has_alert === \"true\";\n\n  // sinon on tente de détecter via champs connus\n  const a = pickFirstAlertLike(j);\n  const ae = n(a?.ae_reconstruction ?? j.ae_reconstruction);\n  const sil = n(a?.silhouette ?? j.silhouette);\n  const score = n(a?.score ?? j.score);\n\n  // Heuristique générique (modifie les seuils si besoin)\n  const TH = {\n    ae_high: 0.70,\n    silhouette_low: 0.10,\n    score_low: -0.20,\n  };\n\n  const heurHas =\n    (ae !== null && ae >= TH.ae_high) ||\n    (sil !== null && sil <= TH.silhouette_low) ||\n    (score !== null && score <= TH.score_low) ||\n    (String(j.pipeline_status || \"\").includes(\"KO\"));\n\n  const has_alert = upstreamHas || heurHas;\n\n  if (has_alert) {\n    const sev = (a?.severity || j.severity || \"CRITICAL\").toUpperCase();\n    severity = maxSeverity(severity, sev);\n\n    // on garde la meilleure alerte (ici: la plus sévère)\n    if (!best) best = { it: j, a, ae, sil, score, sev };\n    else if (maxSeverity(best.sev, sev) === sev) best = { it: j, a, ae, sil, score, sev };\n  }\n}\n\n// 2) construire l’output unique\nconst now = new Date().toISOString();\n\nif (!best) {\n  // Pas d'alerte => Respond to Webhook (branche false)\n  const base = items[0]?.json || {};\n  return [{\n    json: {\n      ...base,\n      has_alert: false,\n      severity: \"INFO\",\n      alerts: [],\n      generated_at: now\n    }\n  }];\n}\n\n// Alerte => branche true\nconst j = best.it || {};\nconst a = best.a || {};\n\nreturn [{\n  json: {\n    ...j,\n    has_alert: true,\n    severity,\n    alerts: [{\n      symbol: a.symbol ?? j.symbol ?? j.ticker ?? \"-\",\n      run_id: a.run_id ?? j.run_id ?? j.mlflow_run_id ?? \"-\",\n      ae_reconstruction: best.ae,\n      silhouette: best.sil,\n      score: best.score,\n      severity\n    }],\n    generated_at: now\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4848,
        -1312
      ],
      "id": "8f56f00e-6a63-4e07-a7bf-ffbd4b4dfac4",
      "name": "Node Detect Malveillance"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23fb960a-d4ab-4c72-861e-0b60a6134378",
              "leftValue": "={{ $json.has_alert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4592,
        -1408
      ],
      "id": "99fa44f2-2bad-41b6-8f8b-65b67c36c05f",
      "name": "If",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const d = items[0].json;\nconst alerts = d.alerts || [];\nconst top = alerts[0] || {};\n\nconst subject = `🚨 StormCopilot – Alerte MLOps (${d.severity})`;\n\nconst body = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>StormCopilot – Alerte MLOps</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f4f6f8;font-family:Arial,Helvetica,sans-serif;\">\n\n  <div style=\"max-width:650px;margin:30px auto;background:#ffffff;border-radius:8px;overflow:hidden;\n              box-shadow:0 4px 12px rgba(0,0,0,0.08);\">\n\n    <!-- HEADER -->\n    <div style=\"background:#0f4c81;color:#ffffff;padding:20px 24px;\">\n      <h2 style=\"margin:0;font-size:20px;\">🚨 StormCopilot – Alerte MLOps</h2>\n      <p style=\"margin:6px 0 0;font-size:13px;\">\n        Sévérité :\n        <strong style=\"color:#ffdddd;\">${d.severity}</strong>\n        &nbsp;•&nbsp;\n        ${d.generated_at}\n      </p>\n    </div>\n\n    <!-- CONTENT -->\n    <div style=\"padding:24px;color:#1f2937;font-size:14px;line-height:1.6;\">\n\n      <p>\n        Une <strong>anomalie MLOps</strong> a été détectée sur le pipeline.\n        Une analyse est recommandée.\n      </p>\n\n      <h3 style=\"margin-top:24px;margin-bottom:8px;color:#0f4c81;\">\n        📌 Actif concerné\n      </h3>\n      <ul style=\"padding-left:18px;\">\n        <li><strong>Symbole :</strong> ${top.symbol || \"-\"}</li>\n        <li><strong>Run MLflow :</strong> ${top.run_id || \"-\"}</li>\n      </ul>\n\n      <h3 style=\"margin-top:20px;margin-bottom:8px;color:#0f4c81;\">\n        📊 Métriques\n      </h3>\n\n      <table width=\"100%\" cellpadding=\"8\" cellspacing=\"0\"\n             style=\"border-collapse:collapse;font-size:13px;\">\n        <tr style=\"background:#f0f4f8;\">\n          <td><strong>AE reconstruction</strong></td>\n          <td>${top.ae_reconstruction ?? \"-\"}</td>\n        </tr>\n        <tr>\n          <td><strong>Silhouette</strong></td>\n          <td>${top.silhouette ?? \"-\"}</td>\n        </tr>\n        <tr style=\"background:#f0f4f8;\">\n          <td><strong>Score</strong></td>\n          <td>${top.score ?? \"-\"}</td>\n        </tr>\n      </table>\n\n      <h3 style=\"margin-top:24px;margin-bottom:8px;color:#0f4c81;\">\n        🧭 Actions recommandées\n      </h3>\n      <ul style=\"padding-left:18px;\">\n        <li>Analyser le run MLflow</li>\n        <li>Comparer Champion / Challenger</li>\n        <li>Décider d’un retrain si nécessaire</li>\n      </ul>\n\n      <div style=\"margin-top:24px;text-align:center;\">\n        <a href=\"http://localhost:5000/#/experiments/1/runs/${top.run_id}\"\n           style=\"background:#0f4c81;color:#ffffff;text-decoration:none;\n                  padding:10px 18px;border-radius:6px;\n                  font-size:14px;display:inline-block;\">\n          🔍 Ouvrir dans MLflow\n        </a>\n      </div>\n\n    </div>\n\n    <!-- FOOTER -->\n    <div style=\"background:#f4f6f8;color:#6b7280;\n                padding:14px 20px;font-size:12px;text-align:center;\">\n      StormCopilot · MLOps Monitoring · Notification automatique\n    </div>\n\n  </div>\n\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to: \"alaalakhal611@gmail.com\",\n    subject,\n    body\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4336,
        -1424
      ],
      "id": "4096abd9-8602-43ad-8c25-6ef0c3f4fdab",
      "name": "alert email"
    },
    {
      "parameters": {
        "sendTo": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3984,
        -1424
      ],
      "id": "e6cfa052-37b8-4c0a-8c49-21a55fa24c2b",
      "name": "Send Alert notif",
      "webhookId": "39b6be33-018e-46c1-870a-ee4679729020",
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$node[\"Daily Full\"].json.id}}",
        "labelIds": [
          "Label_7222219908140623167"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2656,
        16
      ],
      "id": "90f18abb-d75f-4b1e-a58a-0dc5c228542e",
      "name": "Add label to message",
      "webhookId": "6e30bbcd-c7c4-488d-a1df-ebdb00b9b76a",
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'http://host.docker.internal:8001/v1/ohlcv/' + $json[\"symbol\"] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "interval",
              "value": "={{$json.interval}}"
            },
            {
              "name": "period",
              "value": "2d"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6912,
        -1024
      ],
      "id": "a48881af-7f82-474f-8c4c-9c28844f1082",
      "name": "HTTP OHLCV (2d for CSV)"
    },
    {
      "parameters": {
        "jsCode": "function findBars(j) {\n  return (j.bars || j.candles || j.data || j.ohlcv || []);\n}\n\nfunction pickOpen(b) {\n  if (!b) return null;\n  if (typeof b.open === \"number\") return b.open;\n  if (typeof b.o === \"number\") return b.o;\n  return null;\n}\n\nfunction pickClose(b) {\n  if (!b) return null;\n  if (typeof b.close === \"number\") return b.close;\n  if (typeof b.c === \"number\") return b.c;\n  if (typeof b.adjClose === \"number\") return b.adjClose;\n  if (typeof b.adj_close === \"number\") return b.adj_close;\n  return null;\n}\n\nreturn items.map((it) => {\n  const j = it.json || {};\n  const symbol = j.symbol || j.ticker || \"UNKNOWN\";\n  const bars = findBars(j);\n\n  // Garde uniquement les bougies qui ont au moins un close valide\n  const valid = Array.isArray(bars)\n    ? bars.filter(b => b && (typeof b.close === \"number\" || typeof b.c === \"number\"))\n    : [];\n\n  if (valid.length < 2) {\n    return { json: { indicator: symbol, open_today: \"\", close_previous_day: \"\", warning: j.warning || \"NO_2_BARS\" } };\n  }\n\n  const prev = valid[valid.length - 2];\n  const today = valid[valid.length - 1];\n\n  return {\n    json: {\n      indicator: symbol,\n      open_today: pickOpen(today) ?? \"\",\n      close_previous_day: pickClose(prev) ?? \"\",\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6704,
        -1024
      ],
      "id": "19a8d12a-0947-496a-984a-706b267f58dd",
      "name": "Extract Open/PrevClose"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(it => {\n  const j = it.json || {};\n  return (\n    typeof j.open_today === \"number\" &&\n    typeof j.close_previous_day === \"number\"\n  );\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6496,
        -1024
      ],
      "id": "16f7aab1-c7fa-46b0-a940-a4c143b65be3",
      "name": "Filter Valid Rows"
    },
    {
      "parameters": {
        "jsCode": "return items.map(it => {\n  const j = it.json;\n  return {\n    json: {\n      indicator: j.indicator,\n      open_today: Number(j.open_today.toFixed(2)),\n      close_previous_day: Number(j.close_previous_day.toFixed(2))\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6288,
        -1024
      ],
      "id": "5bb8bd8b-6c3d-462a-842f-8692417c0a84",
      "name": "Arrondir les valeurs"
    },
    {
      "parameters": {
        "jsCode": "function pad(n){ return String(n).padStart(2,\"0\"); }\n\n// Market day (YYYY-MM-DD) - simple\nconst now = new Date();\nconst market_day = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\n\n// Timestamp for filename\nconst ts = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}_${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\nconst rows = items.map(it => it.json);\n\n// CSV (3 colonnes strictes)\nlet csv = \"indicator,open_today,close_previous_day\\n\";\nfor (const r of rows) {\n  const open = Number(r.open_today).toFixed(2);\n  const prev = Number(r.close_previous_day).toFixed(2);\n  csv += `${r.indicator},${open},${prev}\\n`;\n}\n\nconst filename = `stormcopilot_open_close_${ts}.csv`;\nconst buffer = Buffer.from(csv, \"utf8\");\n\n// HTML rows with Gap%\nconst htmlRows = rows.map((r, idx) => {\n  const open = Number(r.open_today);\n  const prev = Number(r.close_previous_day);\n  const gap = ((open - prev) / prev) * 100;\n  const gapTxt = Number.isFinite(gap) ? `${gap.toFixed(2)}%` : \"\";\n  const gapColor = (Number.isFinite(gap) && gap < 0) ? \"#dc2626\" : \"#16a34a\"; // rouge/vert\n  const bg = (idx % 2 === 0) ? \"#ffffff\" : \"#f8fafc\";\n\n  return `\n    <tr style=\"background:${bg};\">\n      <td style=\"padding:10px 12px; border-top:1px solid #e2e8f0; font-size:13px;\"><b>${String(r.indicator||\"\")}</b></td>\n      <td style=\"padding:10px 12px; border-top:1px solid #e2e8f0; font-size:13px; text-align:right;\">${open.toFixed(2)}</td>\n      <td style=\"padding:10px 12px; border-top:1px solid #e2e8f0; font-size:13px; text-align:right;\">${prev.toFixed(2)}</td>\n      <td style=\"padding:10px 12px; border-top:1px solid #e2e8f0; font-size:13px; text-align:right; color:${gapColor}; font-weight:700;\">\n        ${gapTxt}\n      </td>\n    </tr>\n  `;\n}).join(\"\");\n\nconst subject = `StormCopilot DAILY – Open/Close – ${market_day}`;\n\nconst html = `\n<div style=\"font-family: Arial, Helvetica, sans-serif; color:#0f172a; background:#f8fafc; padding:24px; border-radius:14px;\">\n  <div style=\"max-width:760px; margin:0 auto; background:#ffffff; border:1px solid #e2e8f0; border-radius:16px; overflow:hidden;\">\n    <div style=\"padding:18px 22px; background:linear-gradient(90deg,#0f172a,#1e293b); color:#fff;\">\n      <div style=\"font-size:18px; font-weight:700;\">📈 StormCopilot – Daily Open/Close</div>\n      <div style=\"font-size:12px; opacity:0.85; margin-top:4px;\">\n        Jour de marché : <b>${market_day}</b> • Open du jour vs Close de la veille • Gap %\n      </div>\n    </div>\n\n    <div style=\"padding:18px 22px;\">\n      <p style=\"margin:0 0 12px 0; font-size:14px; line-height:1.6;\">Bonjour,</p>\n      <p style=\"margin:0 0 14px 0; font-size:14px; line-height:1.6;\">\n        Veuillez trouver en pièce jointe le fichier <b>CSV</b> (3 colonnes) pour les indicateurs disponibles.\n      </p>\n\n      <div style=\"margin:16px 0 10px 0; padding:12px 14px; border:1px solid #e2e8f0; border-radius:12px; background:#f1f5f9;\">\n        <div style=\"font-size:13px; font-weight:700; margin-bottom:6px;\">Aperçu rapide</div>\n        <div style=\"font-size:12px; color:#334155;\">(${rows.length} indicateur(s) dans ce run) • Pièce jointe : <b>${filename}</b></div>\n      </div>\n\n      <table cellpadding=\"0\" cellspacing=\"0\" style=\"width:100%; border-collapse:separate; border-spacing:0; border:1px solid #e2e8f0; border-radius:12px; overflow:hidden;\">\n        <thead>\n          <tr style=\"background:#0ea5e9; color:#fff;\">\n            <th style=\"text-align:left; padding:10px 12px; font-size:13px;\">Indicateur</th>\n            <th style=\"text-align:right; padding:10px 12px; font-size:13px;\">Open (J)</th>\n            <th style=\"text-align:right; padding:10px 12px; font-size:13px;\">Close (J-1)</th>\n            <th style=\"text-align:right; padding:10px 12px; font-size:13px;\">Gap %</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${htmlRows}\n        </tbody>\n      </table>\n\n      <div style=\"margin-top:16px; padding-top:12px; border-top:1px solid #e2e8f0; font-size:13px; color:#334155; line-height:1.6;\">\n        Cordialement,<br/><b>StormCopilot</b>\n      </div>\n\n      <div style=\"margin-top:10px; font-size:11px; color:#64748b;\">\n        Email automatique • ${market_day}\n      </div>\n    </div>\n  </div>\n</div>\n`;\n\nreturn [{\n  json: { filename, html, subject, market_day },\n  binary: {\n    data: {\n      data: buffer.toString(\"base64\"),\n      mimeType: \"text/csv\",\n      fileName: filename\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6080,
        -1024
      ],
      "id": "6540d60d-c1f4-487b-a29b-dd0c31421b78",
      "name": "Build CSV + Binary + Timestamp"
    },
    {
      "parameters": {
        "sendTo": "alaalakhal611@gmail.com",
        "subject": "StormCopilot – Daily Open/Close",
        "message": "={{$json.html}}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5872,
        -1024
      ],
      "id": "4002319f-2a79-4527-b0e7-055de4fcc437",
      "name": "open/close du jour",
      "webhookId": "7668eb5f-d402-4b31-a672-38d71cce3b5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$node[\"Send Alert notif\"].json.id}}",
        "labelIds": [
          "Label_731741044569775510"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3760,
        -1424
      ],
      "id": "59931bc3-3a89-4956-9a1a-d5f730fe92fb",
      "name": "Label Alert",
      "webhookId": "d27cfbb1-d8d5-4c3b-af4a-b24ad72f284d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "alaalakhal611@gmail.com",
        "subject": "📊 StormCopilot – Rapport quotidien",
        "message": "=<div style=\"font-family: Arial, Helvetica, sans-serif; color:#1f2937; line-height:1.6;\">\n\n  <h2 style=\"color:#0f4c81; margin-bottom:5px;\">\n    📊 StormCopilot — Rapport quotidien\n  </h2>\n<hr style=\"margin-top:24px;border:none;border-top:1px solid #e5e7eb;\" />\n<p style=\"font-size:11px;color:#6b7280;\">\n  StormCopilot • ALERT<br/>\n  Severity: {{ $json.severity || \"INFO\" }}<br/>\n  Run ID: {{ $json.run_id || $execution.id }}<br/>\n  Generated at: {{ new Date().toISOString() }}\n</p>\n\n\n  <p style=\"color:#6b7280; margin-top:0; font-size:13px;\">\n    Généré automatiquement le {{ $json.generated_at }}\n  </p>\n\n  <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:20px 0;\" />\n\n  <p>Bonjour,</p>\n\n  <p>\n    Veuillez trouver en pièce jointe le\n    <strong>rapport quotidien StormCopilot</strong>,\n    regroupant les analyses clés issues de vos pipelines\n    <strong>Data, IA et MLOps</strong>.\n  </p>\n\n  <!-- Bloc aperçu rapide -->\n  <div style=\"background:#f8fafc; padding:15px; border-radius:6px; margin:20px 0;\">\n    <strong style=\"color:#0f4c81;\">📌 Aperçu rapide</strong><br/><br/>\n    📊 Actifs analysés : <strong>{{ $json.market_ai_summary.nb_assets }}</strong><br/>\n    📈 Signaux Achat : <strong>{{ $json.market_ai_summary.achat }}</strong><br/>\n    📉 Signaux Vente : <strong>{{ $json.market_ai_summary.vente }}</strong><br/>\n    📊 Tendance moyenne : <strong>{{ $json.market_ai_summary.tendance_moyenne_pct }} %</strong><br/>\n    🌪️ Volatilité moyenne : <strong>{{ $json.market_ai_summary.volatilite_moyenne_pct }} %</strong>\n  </div>\n\n  <p>Ce rapport inclut notamment :</p>\n\n  <ul>\n    <li>📈 Analyse du marché (signaux, tendances, volatilité)</li>\n    <li>🧠 Synthèse IA & MLOps (modèles, performances, champions)</li>\n    <li>📰 Veille technologique (Hot / Trending / Fresh)</li>\n  </ul>\n\n  <p>\n    Le document joint est au format PDF pour une lecture et un partage facilités.\n  </p>\n\n  <p style=\"margin-top:25px;\">\n    Cordialement,<br/>\n    <strong>StormCopilot</strong><br/>\n    <span style=\"color:#6b7280; font-size:12px;\">\n      Automated Intelligence & Monitoring\n    </span>\n  </p>\n\n  <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:30px 0;\" />\n\n  <p style=\"font-size:11px; color:#9ca3af;\">\n    Ce message a été envoyé automatiquement via n8n.\n  </p>\n\n</div>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2864,
        16
      ],
      "id": "ab4537a3-1376-4d06-8282-dcc687fc878d",
      "name": "Daily Full",
      "webhookId": "7ec44bee-4022-4edc-9a3b-9601001e3e16",
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: Add Trace / Audit Stamp (final)\n// Place: after \"Build Human Text Daily\" and before \"Quality Gate\" + \"Generate Daily PDF\"\n\nconst d = items[0]?.json || {};\nconst now = new Date().toISOString();\n\n// ---------- helpers\nfunction numOr(x, def) {\n  const v = Number(x);\n  return Number.isFinite(v) ? v : def;\n}\nfunction strOr(x, def = \"\") {\n  const s = (x === null || x === undefined) ? \"\" : String(x);\n  return s.trim() ? s : def;\n}\nfunction safeLen(arr) {\n  return Array.isArray(arr) ? arr.length : 0;\n}\nfunction objSize(o) {\n  return (o && typeof o === \"object\" && !Array.isArray(o)) ? Object.keys(o).length : 0;\n}\n\n// ---------- detect pipeline\nconst isDailyFull = !!d.tech_radar || !!d.market_ai_summary;\nconst isMLOps =\n  (Array.isArray(d.mlops_champions_rows) && d.mlops_champions_rows.length > 0) ||\n  (Array.isArray(d.mlops_compare_rows) && d.mlops_compare_rows.length > 0) ||\n  (d.raw_champions && Object.keys(d.raw_champions).length > 0) ||\n  !!d.mlops_kpis;\n\nconst pipeline = isDailyFull ? \"daily_full\" : (isMLOps ? \"mlops_daily\" : \"unknown\");\n\n// ---------- run id\nconst runId =\n  d.run_id ||\n  d.trace?.run_id ||\n  `run_${Date.now().toString(36)}_${Math.random().toString(16).slice(2, 8)}`;\n\n// ---------- base trace\nd.trace = {\n  run_id: runId,\n  generated_at: d.generated_at || now,\n  workflow: strOr(d.workflow, \"StormCopilot\"),\n  pipeline,\n\n  // Quality / retry (may be filled by Quality Gate later)\n  quality_ok: (typeof d.quality_ok === \"boolean\") ? d.quality_ok : true,\n  quality_level: strOr(d.quality_level, \"\"),\n  quality_reason: strOr(d.quality_reason, \"\"),\n  retry_count: numOr(d.retry_count, 0),\n\n  // common\n  severity: d.severity ?? d.global_severity ?? \"\"\n};\n\n// ---------- pipeline-specific stats (NO NULLS)\nif (pipeline === \"daily_full\") {\n  const tech = d.tech_radar || {};\n  const met = tech.metrics || {};\n\n  d.trace.tech_sources_total = numOr(met.sources_total, 0);\n  d.trace.tech_sources_ok    = numOr(met.sources_ok, 0);\n  d.trace.tech_hot          = numOr(met.hot, 0);\n  d.trace.tech_trending     = numOr(met.trending, 0);\n  d.trace.tech_fresh        = numOr(met.fresh, 0);\n\n  const m = d.market_ai_summary || {};\n  d.trace.market_assets = numOr(m.nb_assets, 0);\n  d.trace.market_rows   = safeLen(d.market_ai_rows);\n\n} else if (pipeline === \"mlops_daily\") {\n  const k = d.mlops_kpis || {};\n  const rawChamp = d.raw_champions || {};\n  const rows = d.mlops_compare_rows || d.mlops_champions_rows || [];\n\n  d.trace.mlops_pipeline_status = strOr(k.pipeline_status, \"—\");\n  d.trace.mlops_nb_symbols_ok   = numOr(k.nb_symbols_ok, objSize(rawChamp));\n  d.trace.mlops_nb_requested    = numOr(k.nb_symbols_requested, 0);\n  d.trace.champions_count       = objSize(rawChamp);\n  d.trace.champions_rows_count  = safeLen(rows);\n\n  d.trace.drift_avg = numOr(k.drift_avg, 0);\n  d.trace.drift_max = numOr(k.drift_max, 0);\n  d.trace.retrain_recommended = !!k.retrain_recommended;\n\n  // Keep old tech fields out (or set to 0 if you want)\n  d.trace.tech_sources_total = 0;\n  d.trace.tech_sources_ok    = 0;\n  d.trace.tech_hot           = 0;\n  d.trace.tech_trending      = 0;\n  d.trace.tech_fresh         = 0;\n}\n\n// write back\nitems[0].json = d;\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        16
      ],
      "id": "37b9f5d3-a24b-4300-baa9-f7bc680f70f6",
      "name": "Add Trace"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node: Quality Gate (Daily Full + MLOps)\n// Place: after \"Add Trace / Audit Stamp\" and before \"Generate Daily PDF\"\n\nconst d = items[0]?.json || {};\nd.trace = d.trace || {};\n\nconst reasons = [];\nlet ok = true;\n\n// Detect pipeline (prefer trace.pipeline)\nconst pipeline =\n  d.trace.pipeline ||\n  (d.tech_radar || d.market_ai_summary ? \"daily_full\" : \"mlops_daily\");\n\n// --------------------\n// Helpers\nfunction hasNonEmptyObject(x) {\n  return x && typeof x === \"object\" && !Array.isArray(x) && Object.keys(x).length > 0;\n}\nfunction n(x) {\n  const v = Number(x);\n  return Number.isFinite(v) ? v : null;\n}\n// --------------------\n\n// ====================\n// Case 1: DAILY FULL\n// ====================\nif (pipeline === \"daily_full\") {\n  // Tech\n  const tech = d.tech_radar || {};\n  const met = tech.metrics || {};\n  const sourcesTotal = n(met.sources_total);\n  const sourcesOk = n(met.sources_ok);\n\n  if (!(sourcesTotal !== null && sourcesOk !== null && sourcesOk > 0 && sourcesOk <= sourcesTotal)) {\n    ok = false;\n    reasons.push(\"tech_missing_or_incomplete\");\n  }\n\n  // Market\n  const m = d.market_ai_summary || {};\n  const nbAssets = n(m.nb_assets);\n  if (!(nbAssets !== null && nbAssets > 0)) {\n    ok = false;\n    reasons.push(\"market_missing_or_incomplete\");\n  }\n\n  // Optional: require some rows\n  const rows = Array.isArray(d.market_ai_rows) ? d.market_ai_rows.length : 0;\n  if (rows === 0) {\n    ok = false;\n    reasons.push(\"market_rows_empty\");\n  }\n}\n\n// ====================\n// Case 2: MLOPS DAILY\n// ====================\nelse if (pipeline === \"mlops_daily\") {\n  const k = d.mlops_kpis || {};\n  const decision = d.mlops_decision || {};\n  const rawChamp = d.raw_champions || {};\n\n  // pipeline status\n  if (String(k.pipeline_status || \"\") !== \"✅ OK\") {\n    ok = false;\n    reasons.push(\"mlops_pipeline_not_ok\");\n  }\n\n  // must have champions\n  if (!hasNonEmptyObject(rawChamp)) {\n    ok = false;\n    reasons.push(\"mlops_champions_missing\");\n  }\n\n  // must have decision explanation\n  if (!String(decision.explanation || \"\").trim()) {\n    ok = false;\n    reasons.push(\"mlops_decision_missing\");\n  }\n\n  // optional: compare table present (not mandatory)\n  const cmpRows = Array.isArray(d.mlops_compare_rows) ? d.mlops_compare_rows.length : 0;\n  if (cmpRows === 0) {\n    reasons.push(\"mlops_compare_rows_empty\");\n    // (on ne fail pas pour ça, c'est juste un warning)\n  }\n}\n\n// Unknown pipeline -> soft fail\nelse {\n  ok = false;\n  reasons.push(\"pipeline_unknown\");\n}\n\n// ---- set quality\nconst level = ok ? \"PASS\" : \"FAIL\";\nconst reasonStr = reasons.join(\",\");\n\nd.quality_ok = ok;\nd.quality_level = level;\nd.quality_reason = reasonStr;\n\nd.trace.quality_ok = ok;\nd.trace.quality_level = level;\nd.trace.quality_reason = reasonStr;\n\nitems[0].json = d;\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        16
      ],
      "id": "b66b0161-4c46-4cc2-b1e3-d305c2db1b33",
      "name": "Quality Gate"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "join_key",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4912,
        -800
      ],
      "id": "06c272a7-d771-44b1-8d8a-c6301ee86386",
      "name": "Merge3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: Build Tech Digest (Top + Sources + Themes)\n// Place: after \"Normalize Tech Metrics\" and before \"Tech Clean & Rank\"\n\nconst tech = items[0]?.json || {};\nconst raw = tech._raw || {};\nconst list = Array.isArray(raw.items) ? raw.items : (Array.isArray(raw.data?.items) ? raw.data.items : []);\n\nfunction clean(s) {\n  return String(s || \"\")\n    .replace(/\\s+/g, \" \")\n    .replace(/[\\u0000-\\u001F]+/g, \"\")\n    .trim();\n}\nfunction clip(s, n=110) {\n  s = clean(s);\n  return s.length > n ? (s.slice(0, n - 1) + \"…\") : s;\n}\n\n// --- Split by label\nconst isHot = (x) => String(x.rank_label || \"\").toLowerCase().includes(\"hot\");\nconst isTrending = (x) => String(x.rank_label || \"\").toLowerCase().includes(\"trending\");\nconst isFresh = (x) => String(x.rank_label || \"\").toLowerCase().includes(\"fresh\");\n\nconst hot = list.filter(isHot);\nconst trending = list.filter(isTrending);\n\n// --- Top lists\nconst topHot = (hot.length ? hot : list).slice(0, 5).map(x => ({\n  source: clean(x.source_name || x.source || \"Source\"),\n  title: clip(x.title || x.headline || x.short_summary || x.tw_summary_2_sent || x.summary || x.url || \"—\", 120),\n  label: \"Hot\",\n  url: x.url || \"\"\n}));\n\nconst topTrending = (trending.length ? trending : list).slice(0, 5).map(x => ({\n  source: clean(x.source_name || x.source || \"Source\"),\n  title: clip(x.title || x.headline || x.short_summary || x.tw_summary_2_sent || x.summary || x.url || \"—\", 120),\n  label: \"Trending\",\n  url: x.url || \"\"\n}));\n\n// --- Top Sources\nconst srcCount = {};\nfor (const x of list) {\n  const s = clean(x.source_name || x.source || \"Source\");\n  srcCount[s] = (srcCount[s] || 0) + 1;\n}\nconst topSources = Object.entries(srcCount)\n  .sort((a,b) => b[1]-a[1])\n  .slice(0, 6)\n  .map(([source, count]) => ({ source, count }));\n\n// --- Themes (keywords)\nconst stop = new Set([\"the\",\"and\",\"for\",\"with\",\"from\",\"that\",\"this\",\"you\",\"your\",\"are\",\"was\",\"were\",\"to\",\"of\",\"in\",\"on\",\"a\",\"an\",\"is\",\"it\",\"as\",\"by\",\"at\",\"or\",\"be\",\"how\",\"what\",\"why\",\"when\",\"data\",\"ai\"]);\nconst bag = {};\nfor (const x of list.slice(0, 25)) {\n  const text = clean((x.title || \"\") + \" \" + (x.short_summary || x.tw_summary_2_sent || x.summary || \"\"));\n  for (const w of text.toLowerCase().split(/[^a-z0-9]+/g)) {\n    if (!w || w.length < 4) continue;\n    if (stop.has(w)) continue;\n    bag[w] = (bag[w] || 0) + 1;\n  }\n}\nconst themes = Object.entries(bag).sort((a,b)=>b[1]-a[1]).slice(0, 8).map(([k,v]) => ({ keyword:k, count:v }));\n\n// --- Markdown digest (PDF/mail)\nfunction mdTable(rows) {\n  let md = `| Source | Label | Titre |\\n|---|---|---|\\n`;\n  for (const r of rows) md += `| ${clip(r.source, 30)} | ${r.label} | ${clip(r.title, 95)} |\\n`;\n  return md;\n}\n\nlet digestMd = \"\";\ndigestMd += `### 🔥 Top Hot (5)\\n${topHot.length ? mdTable(topHot) : \"_Aucun item._\"}\\n\\n`;\ndigestMd += `### 📈 Top Trending (5)\\n${topTrending.length ? mdTable(topTrending) : \"_Aucun item._\"}\\n\\n`;\n\nif (topSources.length) {\n  digestMd += `### 🧩 Sources dominantes\\n| Source | # |\\n|---|---:|\\n`;\n  for (const s of topSources) digestMd += `| ${clip(s.source, 40)} | ${s.count} |\\n`;\n  digestMd += `\\n`;\n}\nif (themes.length) {\n  digestMd += `### 🏷️ Thèmes du jour\\n` + themes.map(t => `- ${t.keyword} (${t.count})`).join(\"\\n\") + `\\n`;\n}\n\nreturn [{\n  json: {\n    ...tech,\n    headline: clip(tech.headline || \"Veille Tech\", 110),\n    tech_digest_md: digestMd,\n    tech_top_hot: topHot,\n    tech_top_trending: topTrending,\n    tech_top_sources: topSources,\n    tech_themes: themes,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6368,
        -112
      ],
      "id": "81e6bb4a-52f6-4658-b876-5e031f0c5e8f",
      "name": "Build Tech Digest"
    },
    {
      "parameters": {
        "jsCode": "// Tech Clean & Rank (FINAL, frontend + PDF ready)\n\nconst tech = items[0]?.json || {};\nconst list = Array.isArray(tech._raw?.items) ? tech._raw.items : [];\n\nfunction clean(s){ return String(s||\"\").replace(/\\s+/g,\" \").trim(); }\nfunction clip(s,n=110){ s=clean(s); return s.length>n ? s.slice(0,n-1)+\"…\" : s; }\n\nfunction score100(x){\n  const v = Number(x.score_24h ?? x.score ?? 0);\n  if (!Number.isFinite(v)) return 0;\n  return Math.round(v <= 1 ? v * 100 : v);\n}\n\nfunction faviconOf(x){\n  if (x.favicon_url) return x.favicon_url;\n  try {\n    const h = new URL(x.url).hostname;\n    return `https://www.google.com/s2/favicons?sz=64&domain=${h}`;\n  } catch {\n    return \"\";\n  }\n}\n\n// ---- FILTER TRENDING 24H (⭐ Trending uniquement)\nconst trending24h = list\n  .filter(x => String(x.rank_label || \"\").includes(\"Trending\"))\n  .sort((a,b) => score100(b) - score100(a))\n  .slice(0, 6)\n  .map(x => ({\n    source: clean(x.source_name),\n    score: score100(x),\n    favicon: faviconOf(x),\n    url: x.url || \"\"\n  }));\n\n// ---- PDF / MAIL markdown\nlet trendingMd = \"### 📈 Top Trending (24h)\\n\";\nif (!trending24h.length) {\n  trendingMd += \"_Aucun item._\\n\\n\";\n} else {\n  trendingMd += `| Source | Score |\\n|---|---:|\\n`;\n  for (const t of trending24h) {\n    trendingMd += `| ${clip(t.source,40)} | ${t.score}/100 |\\n`;\n  }\n  trendingMd += \"\\n\";\n}\n\n// ---- RETURN\nreturn [{\n  json: {\n    ...tech,\n    top_trending_24h: trending24h,      // ✅ frontend\n    tech_digest_md: trendingMd + (tech.tech_digest_md || \"\")\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6128,
        -112
      ],
      "id": "e53f6a7b-8271-4c77-9768-7baf36dfa9ef",
      "name": "Tech Clean & Rank"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1739396177510524476"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5664,
        -1024
      ],
      "id": "9cd67aca-cac6-49b2-8d99-d8c6a050bc2b",
      "name": "Add label to message1",
      "webhookId": "3fbb06c8-7029-480f-b5e2-49bf9908bb79",
      "credentials": {
        "gmailOAuth2": {
          "id": "DvSKAKQRnMta8oyc",
          "name": "n8n email copilot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = items[0]?.json || {};\n\nreturn [{\n  json: {\n    ...d,\n    has_alert: true,\n    severity: \"CRITICAL\",\n    alerts: [{\n      symbol: \"BNP.PA\",\n      run_id: \"TEST_RUN_ID_123\",\n      ae_reconstruction: 0.99,\n      silhouette: 0.05,\n      score: -2.0,\n      severity: \"CRITICAL\"\n    }],\n    generated_at: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4848,
        -1120
      ],
      "id": "42452730-ce64-437e-8722-be3448917b14",
      "name": "forcer malveillance"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4384,
        -1264
      ],
      "id": "87638ed0-9ef2-478a-a065-f54da41e4648",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Generate Daily PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON - Daily 07:30": {
      "main": [
        [
          {
            "node": "QuickTrain /mlops/train/market",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Params",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch MLOps Executive (mlops-daily-full)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook mlops-daily-full": {
      "main": [
        [
          {
            "node": "QuickTrain /mlops/train/market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickTrain /mlops/train/market": {
      "main": [
        [
          {
            "node": "Metrics /mlops/metrics/daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics /mlops/metrics/daily": {
      "main": [
        [
          {
            "node": "Get /mlops/champions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get /mlops/champions": {
      "main": [
        [
          {
            "node": "MLOps Executive Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Daily Full": {
      "main": [
        [
          {
            "node": "Fetch MLOps Executive (mlops-daily-full)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Params": {
      "main": [
        [
          {
            "node": "Split Symbols",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Tech Watch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tech Latest": {
      "main": [
        [
          {
            "node": "Normalize Tech Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Symbols": {
      "main": [
        [
          {
            "node": "HTTP OHLCV",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP OHLCV (2d for CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP OHLCV": {
      "main": [
        [
          {
            "node": "compress OHCLV1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compress OHCLV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Market Radar": {
      "main": [
        [
          {
            "node": "set market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Full Daily": {
      "main": [
        [
          {
            "node": "Format Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Tech Watch": {
      "main": [
        [
          {
            "node": "Fetch Tech Latest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format MLOps Champions": {
      "main": [
        [
          {
            "node": "set mlops",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node Detect Malveillance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Summary": {
      "main": [
        [
          {
            "node": "Build Human Text Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Market Rows": {
      "main": [
        [
          {
            "node": "Assemble Full Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Human Text Daily": {
      "main": [
        [
          {
            "node": "Add Trace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily PDF": {
      "main": [
        [
          {
            "node": "Email avec pièce jointe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Build Market Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compress OHCLV1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tech Metrics": {
      "main": [
        [
          {
            "node": "Build Tech Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set tech": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set market": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MLOps Executive Pack": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Format MLOps Champions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MLOps Executive (mlops-daily-full)": {
      "main": [
        [
          {
            "node": "set mlops",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set mlops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set mlops": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare email": {
      "main": [
        [
          {
            "node": "Daily Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email avec pièce jointe": {
      "main": [
        [
          {
            "node": "prepare email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node Detect Malveillance": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "alert email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "alert email": {
      "main": [
        [
          {
            "node": "Send Alert notif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert notif": {
      "main": [
        [
          {
            "node": "Label Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP OHLCV (2d for CSV)": {
      "main": [
        [
          {
            "node": "Extract Open/PrevClose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Open/PrevClose": {
      "main": [
        [
          {
            "node": "Filter Valid Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Rows": {
      "main": [
        [
          {
            "node": "Arrondir les valeurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arrondir les valeurs": {
      "main": [
        [
          {
            "node": "Build CSV + Binary + Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CSV + Binary + Timestamp": {
      "main": [
        [
          {
            "node": "open/close du jour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "open/close du jour": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Full": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Trace": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Generate Daily PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Build Market Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Market Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tech Digest": {
      "main": [
        [
          {
            "node": "Tech Clean & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Clean & Rank": {
      "main": [
        [
          {
            "node": "set tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        []
      ]
    },
    "forcer malveillance": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "95394436-e357-4edf-a0d5-784444de8b68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8faa178fd7657ad564c5a4004415c08f3764567bef62cee213be0d4c1a454317"
  },
  "id": "eu9guNgUoyzJOXkD",
  "tags": []
}